In [1]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.2.0-py3-none-any.whl (11.7 MB)
Collecting distro
  Downloading distro-1.5.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: pandas>=0.25.3 in c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages (from tabula-py) (1.0.5)
Requirement already satisfied: numpy in c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages (from tabula-py) (1.19.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.25.3->tabula-py) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import tabula

In [136]:
df1 = tabula.read_pdf("E:\Invoice_Ask Media.pdf", pages = 1)

In [138]:
data = df1[1][5:]

In [139]:
data

   Unnamed: 0                                Bill To:  Ship To:
5  Reference:  AO dated 6-Dec-19 & AO dated 04-May-20       NaN

In [91]:
type(df)

list

In [12]:
tabula.convert_into("E:\Invoice_Ask Media.pdf", "E:\Invoice_Ask Media.csv", output_format="csv", pages='all')

In [128]:
df1[1][5:]

   Unnamed: 0                                Bill To:  Ship To:
5  Reference:  AO dated 6-Dec-19 & AO dated 04-May-20       NaN

In [153]:
df = pd.DataFrame(df)

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

In [155]:
df[1:2]

                                                   0
1     Unnamed: 0                               Bi...

In [23]:
import pandas as pd
import numpy as np

In [124]:
data = pd.DataFrame(columns = ['Month', 'Path', 'Reference'])

In [147]:
data

,Unnamed: 0,Bill To:,Ship To:,Month,Path,Reference,4
5,Reference:,AO dated 6-Dec-19 & AO dated 04-May-20,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Invoice_AJG-Imagi...,NaN,NaN
0,NaN,NaN,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Ericsson - April_...,NaN,NaN
1,NaN,NaN,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Ericsson - April_...,NaN,NaN
2,NaN,NaN,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Ericsson - April_...,NaN,NaN
3,NaN,NaN,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Ericsson - April_...,NaN,NaN
...,...,...,...,...,...,...,...
176,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_ThroughP...,NaN,NaN
177,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_Turvo_Au...,NaN,NaN
178,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_Valet Li...,NaN,NaN
179,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_Verana H...,NaN,NaN
180,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_Western ...,NaN,NaN

In [24]:
import os

In [127]:
data.loc[0:]

  Month Path Reference
1     2  NaN       NaN

In [ ]:
0

In [75]:
path  = "E:\Invoices"
month = os.listdir(path)
print(path)

E:\Invoices

In [157]:
a=0
for i in month:
    y  = "E:\Invoices"+"\\"+i
    print(y)
    filename  = os.path.join(y, "IMAGINEA")
    print(filename)
    x = os.listdir(filename)
    for j in x:
        filepath =os.path.join(filename,j)
        print(filepath)  
    
        df = tabula.read_pdf(filepath, pages = 1)
        data.loc[a,'Month'] = i
        data.loc[a,'Path'] = filepath
        b = pd.DataFrame(df)
        print(b)
        data.loc[a, 'Reference'] =b[1:2]
        a=a+1

E:\Invoices\4.April
E:\Invoices\4.April\IMAGINEA
E:\Invoices\4.April\IMAGINEA\Ericsson - April_20 - 3505072880.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., USII202...
1     Unnamed: 0                 Bill To:\rEricss...
2     Unnamed: 0                                 ...
3     Unnamed: 0                                 ...
E:\Invoices\4.April\IMAGINEA\Ericsson - April_20 - 3505074893.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., USII202...
1     Unnamed: 0                  Bill To:\rErics...
2     Unnamed: 0                                 ...
3     Unnamed: 0                                 ...
E:\Invoices\4.April\IMAGINEA\Ericsson - April_20 - 3505074895.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., USII202...
1     Unnamed: 0                  Bill To:\rErics...
2     Unnamed: 0                                 ...
3     Unnamed: 0                                 ...
E:\Invoices\4.April\IMAGINEA\Ericsson - April_20 - 3505074897.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., USII202...
1     Unnamed: 0                   Bill To:\rEric...
2     Unnamed: 0                                 ...
3     Unnamed: 0                                 ...
E:\Invoices\4.April\IMAGINEA\Invoice_AJG-Imaginea April_20 -SO-199-GBS-PowerBI-Onsite-PBM SQL Upgrade and Migration Work.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                 Bill To:\rArthur...
2                                   Sr.No.
0  Sr.No.
3     Sr.No.                                     ...
4                         Description
0  Description
5                     Amount in USD
0  Amount in USD
6         Unnamed: 0                             ...
7                                    Check:
0  heck:
8                    Wire Transfer:
0  ire Transfer:
9  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_AJG-Imaginea April_20 -SO-225-Corp-DBA-Onsite.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0 Bill To:\rArthur J. Gallagher & ...
2                                   Sr.No.
0  Sr.No.
3     Sr.No.                                     ...
4                         Description
0  Description
5                     Amount in USD
0  Amount in USD
6                                    Check:
0  heck:
7         Unnamed: 0                             ...
8                    Wire Transfer:
0  ire Transfer:
9  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_AJG-Imaginea April_20 -SO-232-GB-Dev-Data Visualization Business Enablement-Onsite.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                 Bill To:\rArthur...
2     Sr.No.                                     ...
3                                   Sr.No.
0  Sr.No.
4                         Description
0  Description
5                     Amount in USD
0  Amount in USD
6         Unnamed: 0                             ...
7                                    Check:
0  heck:
8                    Wire Transfer:
0  ire Transfer:
9  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_AJG-Imaginea April_20 -SO-266-GB Onsite QA Services.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0   Bill To:\rArthur J. Gallagher ...
2     Sr.No.                                     ...
3                                   Sr.No.
0  Sr.No.
4                         Description
0  Description
5                     Amount in USD
0  Amount in USD
6         Unnamed: 0                             ...
7                                    Check:
0  heck:
8                    Wire Transfer:
0  ire Transfer:
9  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_AON_ODM MDS - April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/A...
1     Unnamed: 0                                 ...
2     S No.                          Description ...
3      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_Ask Media_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0   Empty DataFrame
Columns: [Invoice No., US/II/2...
1      Unnamed: 0 Bill To:\rAsk Media Group, LLC  ...
2                                    Sr.No.
0  Sr.No.
3      Sr.No.                                     ...
4                          Description
0  Description
5          Unnamed: 0                             ...
6                     Wire Transfer:
0  ire Transfer:
7   Empty DataFrame
Columns: [Deliverables, eliver...
8                                      S No.
0  S No.
9      S No.                                      ...
10                         Description
0  Description
11                       Project Role
0  Project Role
12                            Unit Price
0  nit Price
E:\Invoices\4.April\IMAGINEA\Invoice_Brown-and- Brown_April_20 - EBTech Census file Transformation.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0   Empty DataFrame
Columns: [Invoice No., US/II/2...
1      Unnamed: 0                      Bill To:\rB...
2      S No.                                      ...
3                                      S No.
0  S No.
4                           Description
0  escription
5                      Amount in USD
0  Amount in USD
6      S No.                                      ...
7                                      S No.
0  S No.
8                           Description
0  escription
9                        Project Role
0  Project Role
10                           Unit Price
0  Unit Price
11         Unnamed: 0                             ...
12                    Wire Transfer:
0  ire Transfer:
13  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_Colruyt -April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., INPT202...
1                         Name and address of Sup...
2    GST payable under reverse charge:  \
0      ...
3                                            Unna...
4                  Mode of payment
0  ode of payment
5     Mode of payment Check in favor of “ Pramati...
E:\Invoices\4.April\IMAGINEA\Invoice_Compliance Line_April_20_API Project.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                           Bill T...
2     S No.                                      ...
3     S No.  Unnamed: 0                 Project R...
4      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_Compliance Line_April_20_Documentation.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                           Bill T...
2     S No.                                      ...
3     S No.  Unnamed: 0                          ...
4      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_Compliance Line_April_20_MyCM 4.1.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                            Bill ...
2     S No.                                      ...
3     S No.  Unnamed: 0          Project Role Uni...
4      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_ContractNow - April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., PTEL/PM...
1     Unnamed: 0                    ContractNow L...
2      Sr.No.                                    ...
E:\Invoices\4.April\IMAGINEA\Invoice_CredHub_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/C...
1     Unnamed: 0             Bill To:\rCredhub LL...
2                                      S No.
0   No.
3    S No.                        Description    ...
4                          Description
0  escription
5                       Project Role
0  Project Role
6                           Rate (USD)
0  Rate (USD)
7                    Wire Transfer:
0  ire Transfer:
8  Empty DataFrame
Columns: [Deliverables, eliver...
9         Unnamed: 0                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_EOS_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0   Bill To:\rEos Group, Inc.  Shi...
2     S No.                                    De...
3                                      S No.
0   No.
4                         Description
0  Description
5                       Project Role
0  Project Role
6                           Rate (USD)
0  Rate (USD)
7         Unnamed: 0                             ...
8                    Wire Transfer:
0  ire Transfer:
9  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_FICO_April_20 - Analytic Cloud Dev Team.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                    Bill To:  Shi...
2    Unnamed: 0                         Unnamed: ...
3      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_FleXit_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0   Empty DataFrame
Columns: [Invoice No., US/II/2...
1      Unnamed: 0      Bill To:\rFlexIt, Inc.  Shi...
2      S No.                        Description   ...
3                                      S No.
0  S No.
4                           Description
0  escription
5                        Project Role
0  Project Role
6                            Unit Price
0  Unit Price
7                      Amount in USD
0  Amount in USD
8                                     Check:
0  heck:
9                     Wire Transfer:
0  ire Transfer:
10  Empty DataFrame
Columns: [Deliverables, eliver...
11         Unnamed: 0                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_Inventus - April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., PTEL/PM...
1     Unnamed: 0                     Inventus Sol...
2     Unnamed: 0                                 ...
E:\Invoices\4.April\IMAGINEA\Invoice_LevaData_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0      Unnamed: 0   Unnamed: 1  Unnamed: 2        ...
1      Unnamed: 0  Unnamed: 1  Unnamed: 2         ...
2       Unnamed: 0 Unnamed: 1 Unnamed: 2          ...
3                                       S No.
0   No.
4                          Description
0  Description
5                        Project Role
0  Project Role
6                            Unit Price
0  Unit Price
7                      Amount in USD
0  Amount in USD
8                            Unnamed: 0
0         NaN
9      Total Invoice Amount for the April’20
0  To...
10                           Unnamed: 0
0         NaN
11                           Unnamed: 0
0         NaN
12                                    20,250
0  20,25
13      Unnamed: 0      Unnamed: 1     Unnamed: 2 ...
14                                    Check:
0  heck:
15                    Wire Transfer:
0  ire Transfer:
16     Email: accounts@imaginea.com
0             ...
17  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_Lumity_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0      Unnamed: 0   Unnamed: 1  Unnamed: 2        ...
1      Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0    ...
2       Unnamed: 0 Unnamed: 1 Unnamed: 2          ...
3                                       S No.
0   No.
4                          Description
0  Description
5                        Project Role
0  Project Role
6                            Unit Price
0  Unit Price
7                      Amount in USD
0  Amount in USD
8                            Unnamed: 0
0         NaN
9      Total Invoice Amount for April’20
0  Total ...
10                           Unnamed: 0
0         NaN
11                           Unnamed: 0
0         NaN
12                                    71,000
0  71,00
13      Unnamed: 0      Unnamed: 1     Unnamed: 2 ...
14                                    Check:
0  heck:
15                    Wire Transfer:
0  ire Transfer:
16     Email: accounts@imaginea.com
0             ...
17  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_Mercari_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0      Unnamed: 0   Unnamed: 1  Unnamed: 2        ...
1      Unnamed: 0  Unnamed: 1  Unnamed: 2         ...
2       Unnamed: 0 Unnamed: 1 Unnamed: 2          ...
3                                       S No.
0   No.
4                          Description
0  Description
5                        Project Role
0  Project Role
6                            Unit Price
0  Unit Price
7                      Amount in USD
0  Amount in USD
8                            Unnamed: 0
0         NaN
9      Total Invoice Amount for April’20
0  Total ...
10                           Unnamed: 0
0         NaN
11                           Unnamed: 0
0         NaN
12                                    34,000
0  34,00
13      Unnamed: 0      Unnamed: 1     Unnamed: 2 ...
14                                    Check:
0  heck:
15                    Wire Transfer:
0  ire Transfer:
16     Email: accounts@imaginea.com
0             ...
17  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_Nielsen_April_20 - IPM_1.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1                                     Bill To:  S...
2     Sl. No.                                    ...
3    Unnamed: 0                         Unnamed: ...
4      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_Nielsen_April_20 - IPM_2.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1                                     Bill To:  S...
2     Sl. No.                                    ...
3     Unnamed: 0               Unnamed: 1        ...
E:\Invoices\4.April\IMAGINEA\Invoice_Nielsen_April_20 - Studio.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1                                     Bill To:  S...
2     Sl. No.                                    ...
3     Unnamed: 0                 Unnamed: 1      ...
E:\Invoices\4.April\IMAGINEA\Invoice_OATH_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0   Empty DataFrame
Columns: [Invoice No., US/II/2...
1      Unnamed: 0            Bill To:\rOath Inc., ...
2      S No.            Description         Team  ...
3                                       S No.
0   No.
4                          Description
0  Description
5                                        Team
0  Team
6                        Project Role
0  Project Role
7          Unnamed: 0                             ...
8                                     Check:
0  heck:
9                     Wire Transfer:
0  ire Transfer:
10  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_Orbital Insight_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0      Unnamed: 0   Unnamed: 1  Unnamed: 2        ...
1       Unnamed: 0  Unnamed: 1  Unnamed: 2        ...
2       Unnamed: 0 Unnamed: 1                     ...
3                                       S No.
0   No.
4                          Description
0  Description
5                        Project Role
0  Project Role
6                            Unit Price
0  Unit Price
7                      Amount in USD
0  Amount in USD
8                                     27,000
0  27,00
9       Unnamed: 0      Unnamed: 1     Unnamed: 2 ...
10                                    Check:
0  heck:
11                    Wire Transfer:
0  ire Transfer:
12     Email: accounts@imaginea.com
0             ...
13  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_Pierce Washington_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0      Unnamed: 0   Unnamed: 1  Unnamed: 2        ...
1      Unnamed: 0  Unnamed: 1  Unnamed: 2         ...
2      Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0      ...
3                                       S No.
0   No.
4                          Description
0  Description
5                         Project Role
0  roject Role
6                            Unit Price
0  Unit Price
7                       Amount in USD
0  mount in USD
8                            Unnamed: 0
0         NaN
9      Total Invoice Amount for April’20
0  Total ...
10                           Unnamed: 0
0         NaN
11                           Unnamed: 0
0         NaN
12                                      1,818
0  1,81
13      Unnamed: 0      Unnamed: 1     Unnamed: 2 ...
14                                    Check:
0  heck:
15                    Wire Transfer:
0  ire Transfer:
16     Email: accounts@imaginea.com
0             ...
17  Empty DataFrame
Columns: [Deliverables, eliver...
E:\Invoices\4.April\IMAGINEA\Invoice_Plymouth Rock_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                    0
0      Unnamed: 0   Unnamed: 1  Unnamed: 2        ...
1      Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0    ...
2       Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0     ...
3                                       S No.
0   No.
4                          Description
0  Description
5                        Project Role
0  Project Role
6                            Unit Price
0  Unit Price
7                      Amount in USD
0  Amount in USD
8                            Unnamed: 0
0         NaN
9      Total Invoice Amount for April’20
0  Total ...
10                           Unnamed: 0
0         NaN
11                           Unnamed: 0
0         NaN
12                                    43,309
0  43,30
E:\Invoices\4.April\IMAGINEA\Invoice_RGL Logistics_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                Bill To:  Ship To...
2     S No.                                      ...
3    Unnamed: 0                            Unname...
4      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_RPX_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                         Bill To:...
2                                        S.No
0  .No
3     S.No  Emp Id               Member Name     ...
4                                   Emp Id
0  Emp Id
5                         Member Name
0  Member Name
6                       Project Role
0  Project Role
7                           Unit Price
0  Unit Price
E:\Invoices\4.April\IMAGINEA\Invoice_Sema 4_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0 Bill To:\rMount Sinai Genomics, ...
2     S No.                  Description         ...
3                                      S No.
0   No.
4                         Description
0  Description
5                       Project Role
0  Project Role
6                           Unit Price
0  Unit Price
7                     Amount in USD
0  Amount in USD
E:\Invoices\4.April\IMAGINEA\Invoice_SproutLoud_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                                 ...
2     Sl. No.                                    ...
3    Unnamed: 0                  Unnamed: 1   Unn...
4    Unnamed: 0                  Unnamed: 1   Unn...
E:\Invoices\4.April\IMAGINEA\Invoice_Tamr_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                             Bill...
2    Unnamed: 0                         Unnamed: ...
3      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_ThroughPut_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0      Unnamed: 0          Unnamed: 1 Unnamed: 2 ...
1     Unnamed: 0                                 ...
2    Unnamed: 0  Unnamed: 1                      ...
3      Payment Terms                             ...
E:\Invoices\4.April\IMAGINEA\Invoice_Turvo_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                Bill To:  Ship To...
2      S No.                                     ...
E:\Invoices\4.April\IMAGINEA\Invoice_Valet Living_April_20.pdf

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                   Bill To:\rVale...
2     Sl. No.                                    ...
3                                 Sl. No.
0  Sl. No.
4                         Description
0  Description
5                       Amount (USD)
0  Amount (USD)
6     S No.               Description           P...
7                                     S No.
0  S No.
8                          Description
0  escription
9                       Project Role
0  Project Role
E:\Invoices\4.April\IMAGINEA\Invoice_Western United_April_20.pdf
                                                   0
0  Empty DataFrame
Columns: [Invoice No., US/II/2...
1     Unnamed: 0                               Bi...
2     S No.                                      ...
3      Payment Terms                             ...
E:\Invoices\5.May
E:\Invoices\5.May\IMAGINEA

c:\users\venkataswamyn\appdata\local\programs\python\python38\lib\site-packages\pandas\core\internals\construction.py:276: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'E:\\Invoices\\5.May\\IMAGINEA'

In [32]:
filenames

['4.April', '5.May', '6.June', '7.July', '8.August', '9.September']

In [158]:
data

,Unnamed: 0,Bill To:,Ship To:,Month,Path,Reference,4
5,Reference:,AO dated 6-Dec-19 & AO dated 04-May-20,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Invoice_AJG-Imagi...,NaN,NaN
0,NaN,NaN,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Ericsson - April_...,NaN,NaN
1,NaN,NaN,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Ericsson - April_...,NaN,NaN
2,NaN,NaN,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Ericsson - April_...,NaN,NaN
3,NaN,NaN,NaN,4.April,E:\Invoices\4.April\IMAGINEA\Ericsson - April_...,NaN,NaN
...,...,...,...,...,...,...,...
176,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_ThroughP...,NaN,NaN
177,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_Turvo_Au...,NaN,NaN
178,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_Valet Li...,NaN,NaN
179,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_Verana H...,NaN,NaN
180,NaN,NaN,NaN,8.August,E:\Invoices\8.August\IMAGINEA\Invoice_Western ...,NaN,NaN

In [34]:
for i in filenames:
    print(i)

4.April
5.May
6.June
7.July
8.August
9.September